.fizz {
    color: lightseagreen
}

.buzz {
    color: crimson
}

.fizzbuzz {
    color: goldenrod
}

.lambda{
    color: blueviolet
}

.tibroncio{
    color: maroon
}

.batata{
    color: aqua
}

.frutas{
    color: darkgreen
}

.muqueta{
    color: cadetblue
}